<h2>Assignments</h2>
<p>Find all your assignments and complete before ending</p>
<hr>
<div class="assignments-page-container">
  <div *ngFor="let assignmentItem of assignments" class="assignment-item">
    <div class="left-container">
      <div class="assignment-icon-container">
        <img class="assignment-icon" src="../../../assets/images/test.png" alt="">
      </div>
      <div class="title">
        <h4>{{ assignmentItem.assignment.title }}</h4>
        <div *ngIf="assignmentItem.assignment.dueDate.toDate() < currentDate" class="assignment-label warn">
          <span>Expired</span>
        </div>
        <div *ngIf="assignmentItem.assignment.dueDate.toDate() > currentDate && !assignmentItem.assignment.isGraded" class="assignment-label info">
          <span>Open</span>
        </div>
        <div *ngIf="assignmentItem.assignment.dueDate.toDate() > currentDate && assignmentItem.assignment.isGraded" class="assignment-label graded">
          <span>Graded</span>
        </div>
      </div>
      <p>Posted: {{ assignmentItem.assignment.createdDate.toDate() | date: 'yyyy MMMM dd' }}</p>
      <div class="class-info">
        <span>Class: </span>
        <span class="class-title"> {{ assignmentItem.classTitle }} </span>
      </div>
      <div class="due-date">
        <span>Due date: </span>
        <span style="font-weight: 500;"> {{ assignmentItem.assignment.dueDate.toDate() | date: 'yyyy MMMM dd hh:mm' }} </span>
      </div>
    </div>
    <div class="right-container">
      <button *ngIf="assignmentItem.isTeacher" mat-raised-button (click)="gradeAssignment(assignmentItem.assignment)">Grade Assignment</button>
      <button *ngIf="!assignmentItem.isTeacher && assignmentItem.assignment.dueDate.toDate() > currentDate && !assignmentItem.submitted" mat-raised-button
        (click)="solveAssignment(assignmentItem.assignment)">Solve Assignment</button>
      <button *ngIf="!assignmentItem.isTeacher && assignmentItem.submitted && !assignmentItem.assignment.isGraded" mat-raised-button disabled>Submitted</button>
      <div *ngIf="!assignmentItem.isTeacher && assignmentItem.submitted && assignmentItem.assignment.isGraded">
        <span class="grade">Grade: {{ assignmentItem.grade | number:'1.2-2' }} / 10</span>
      </div>
    </div>
  </div>
</div>
