<div class="assignments-page-container">
  <h2>Assignments</h2>

  <div *ngIf="isLoading && !noAssignments" class="loading-container">
    <mat-spinner [color]="primary"></mat-spinner>
    <p>Loading...</p>
  </div>

  <div *ngIf="noAssignments" class="no-results">
    <h3>No assignments yet</h3>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="loggedInUser && loggedInUser.role === 'student'" class="statistics">
      <div>
        <h5>Assignment Submission Status</h5>
        <div style="display: block;">
          <canvas baseChart width="400" height="200" [data]="doughnutChartData" [type]="doughnutChartType"
            [options]="doughnutChartOptions">
          </canvas>
        </div>
      </div>

      <div>
        <h5>Average Grades by Classes</h5>
        <div style="display: block;">
          <canvas baseChart width="500" height="200" [data]="barChartData" [type]="barChartType"
            [options]="barChartOptions">
          </canvas>
        </div>
      </div>
    </div>

    <hr>
    <div class="assignments-container">
      <div *ngFor="let assignmentItem of assignments" class="assignment-item">
        <div class="left-container">
          <div class="assignment-icon-container">
            <img class="assignment-icon" src="../../../assets/images/test.png" alt="">
          </div>
          <div class="title">
            <h4>{{ assignmentItem.assignment.title }}</h4>
            <div *ngIf="assignmentItem.assignment.dueDate.toDate() < currentDate" class="assignment-label warn">
              <span>Expired</span>
            </div>
            <div *ngIf="assignmentItem.assignment.dueDate.toDate() > currentDate && !assignmentItem.assignment.isGraded" class="assignment-label info">
              <span>Open</span>
            </div>
            <div *ngIf="assignmentItem.assignment.dueDate.toDate() > currentDate && assignmentItem.assignment.isGraded" class="assignment-label graded">
              <span>Graded</span>
            </div>
          </div>
          <p>Posted: {{ assignmentItem.assignment.createdDate.toDate() | date: 'yyyy MMMM dd' }}</p>
          <div class="class-info">
            <span>Class: </span>
            <span class="class-title"> {{ assignmentItem.classTitle }} </span>
          </div>
          <div class="due-date">
            <span>Due date: </span>
            <span style="font-weight: 500;"> {{ assignmentItem.assignment.dueDate.toDate() | date: 'yyyy MMMM dd hh:mm' }} </span>
          </div>
        </div>
        <div class="right-container">
          <button *ngIf="assignmentItem.isTeacher" mat-raised-button (click)="openGradeAssignmentsDialog(assignmentItem.assignment.id)">Grade Assignment</button>
          <button *ngIf="!assignmentItem.isTeacher && assignmentItem.assignment.dueDate.toDate() > currentDate && !assignmentItem.submitted" mat-raised-button
            (click)="solveAssignment(assignmentItem.assignment)">Hand in Assignment</button>
            <input *ngIf="!assignmentItem.isTeacher && !assignmentItem.submitted && assignmentItem.assignment.dueDate.toDate() > currentDate" type="file" class="form-control" (change)="onFileSelected($event, assignmentItem.assignment.id)">
          <button *ngIf="!assignmentItem.isTeacher && assignmentItem.submitted && !assignmentItem.assignment.isGraded" mat-raised-button disabled>Submitted</button>
          <div *ngIf="!assignmentItem.isTeacher && assignmentItem.submitted && assignmentItem.assignment.isGraded">
            <span class="grade">Grade: {{ assignmentItem.grade | number:'1.2-2' }} / 10</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
