<div class="login-container">
    <div class="left-column">
        <span class="login-slogan">Empowering Students, Enriching Lives: Join the Studentology Experience!</span>
        <div class="stud-logo-wrapper">
            <img class="stud-logo" src="/assets/images/studentology-high-resolution-logo-transparent.png" alt="Logo">
        </div>
    </div>
    <div class="right-column">
        <div class="login-wrapper">
            <h2>Sign In</h2>
            <div class="logo-wrapper">
                <img class="google-logo" src="/assets/images/google.png">
            </div>
            <div class="login-form">
                <!-- Your login form content here -->
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button>Login</button>
            </div>
                <!-- <ion-item>
                  <ion-input label="Disabled input" value="53703" [disabled]="true"></ion-input>
                </ion-item> -->
        </div>
    </div>
</div>