<mat-nav-list>
  <div class="sidenav-header"
    [style.width]="collapsed ? '27px' : '55px'"
    [style.height]="collapsed ? '27px' : '55px'"
  >
      <img
        [src]="loggedInUser.profileUrl || loggedInUser.profilePic">
  </div>
  <a mat-list-item
    *ngFor="let item of navItems"
    [routerLink]="item.route"
    routerLinkActive="active"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle [class.active]="rla.isActive" style="color: #343434; font-size:16px">{{ item.label }}</span>
  </a>
  <div class="sidenav-footer">
    <a mat-list-item (click)="onLogout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle style="color: #343434; font-size:16px">Logout</span>
    </a>
  </div>
</mat-nav-list>