<mat-nav-list>
  <div class="sidenav-header"
    [style.width]="collapsed ? '40px' : '80px'"
    [style.height]="collapsed ? '40px' : '80px'"
  >
      <img
        src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png">
  </div>
  <a mat-list-item
    *ngFor="let item of navItems" 
    [routerLink]="item.route" 
    routerLinkActive="active" 
    #rla="routerLinkActive" 
    [activated]="rla.isActive"
  >
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle style="color: black">{{ item.label }}</span>
  </a>
  <div class="sidenav-footer">
    <a mat-list-item>
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle style="color: black">Logout</span>
    </a>
  </div>
</mat-nav-list>