.class-bg {
    border-radius: 10px;
    height: 50%;
    width: 100%;
}

.class-info {
    padding-top: 0.5em;
}

.class-name {
    display: flex;
    align-items: center;
    color: var(--stud-black);
    font-weight: 500;
    font-size: 1.3em;
}

.class-owner {
    font-size: 0.9em;
    color: var(--darkgray);
}

.member-count {
    position: absolute;
    bottom: 1em;
    i {
        padding-right: .5em;
        color: gray;
    }
}