<ng-container *ngIf="classOwner">
  <div class="class-bg" [style.background]="backgroundColor">
    <!-- <img src={{class.imagePath}}> -->
  </div>
  <div class="class-info">
    <span class="class-name">{{ class.title }}</span>
    <div class="class-owner" *ngIf="classOwner | async as classOwner">
      From: {{ classOwner.username }}
    </div>
  </div>
  <div class="member-count">
    <div>
      <i class="bi bi-people"></i>
      <span>{{ membersCount | async }}</span>
    </div>
  </div>
</ng-container>

