.header {
    padding: 1em;
    border-radius: 10px;
    color: white;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 4px 1px #efcaca;
}

.left-container {
    margin: 2em 0;
    width: 80%;
    border: 1px solid lightgray;
    padding: 3em;
    background-color: rgba(255, 255, 255, .55);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 4px 1px #efcaca;
    border: 1px solid var(--lightgray);
    border-radius: 10px;

    .forum-list {
        display: flex;
        flex-direction: column-reverse;
    }

    @media (max-width:480px) {
        margin: 10px 0;
        width: 100%;
        padding: .8em;
    }
}

app-post {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 2em 0;
    border-radius: 20px;
    background-color: white;

    @media (max-width:480px) {
        padding: 1em;
    }
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}

.post-wrapper {
    padding: 1em 0;
}

.mat-elevation-z8 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown {
    margin: 1em 0;
}

.button-container {
    margin: 1em 0;
    display: flex;
    gap: .2em;
    align-items: center;
    text-align: center;
}

button {
    padding: 1.5em !important;
}