<div class="class-container">
  <ng-container *ngIf="selectedClass && classOwner">
    <div class="header" [ngStyle]="{background: selectedClass.imagePath}">
      <h1>{{ selectedClass.title }}</h1>
      <div class="owner">
        <span> Teacher: {{classOwner.username}} </span><br>
        <span> Class code: {{selectedClass.classCode}} </span><br>
      </div>
    </div>
    <div class="left-container">
      <mat-tab-group>
        <mat-tab label="POSTS">
          <div class="post-wrapper">
            <div class="post">
              <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <textarea id="postText" [(ngModel)]="postText" name="postText" class="form-control"
                    placeholder="Write a post here" rows="3"></textarea>
                </div>
                <div class="button-container">
                  <button type="submit" mat-flat-button color="primary" [disabled]="!postText">Post</button>
                  <button mat-button [matMenuTriggerFor]="menu">Add new</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>Assignment</button>
                      <button mat-menu-item (click)="openCreateTestDialog()">Test</button>
                    </mat-menu>
                </div>
              </form>
            </div>
            <div class="forum-list">
              <app-post *ngFor="let post of posts" [post]="post"></app-post>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="MEMBERS">
          <div *ngFor="let groupId of getGroupIds()" class="members-table">
            <div class="group-name">
              <span>{{ getGroupName(groupId) }}</span>
              <button *ngIf="isTeacherInClass" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
              <button *ngIf="isTeacherInClass" mat-icon-button color="primary" (click)="openAddMemberDialog(groupId)"><mat-icon>add</mat-icon></button>
            </div>
            <table mat-table [dataSource]="groupedMembers[groupId]" class="mat-elevation-z8" *ngIf="displayedColumns.length > 0">

              <!-- Profile Column -->
              <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef> Profile </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.user">
                    <img [src]="element.user.profilePic" alt="Profile Picture" class="profile-pic">
                    {{element.user.username}}
                  </ng-container>
                </td>
              </ng-container>

              <!-- Member Role Column -->
              <ng-container *ngIf="isTeacherInClass" matColumnDef="memberRole">
                <th mat-header-cell *matHeaderCellDef> Member Role </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{element.memberRole}}</span>
                  <button mat-icon-button class="member-options-btn" color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="element.groupId != 'ungrouped'" (click)="ungroupMember(element)">Ungroup Member</button>
                    <button mat-menu-item (click)="deleteMemberFromClass(element)">Delete member from class</button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </ng-container>
</div>