@import "../../../styles.scss";

.class-list-wrapper {
    @media (max-width: 480px) {
        padding: 1em;
    }
}

.class-wrapper {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 480px) {
        width: 100%;
        gap: 5px;
        justify-content: center;
    }
}

app-class-item, .add-item {
    height: 256px;
    width: 210px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .55);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 4px 1px var(--tertiary);
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-start;
    letter-spacing: -1px;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

    cursor: pointer;
    &:hover {
        background-color: rgb(238, 234, 234);
        backdrop-filter: blur(4px);
    }

    @media (max-width: 480px) {
        height: 230px;
        width: 293px;
        margin: 5px;
    }

    &.add-item {
        font-size: 3em;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

.button-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 2em;
    margin: 2em;
    flex-wrap: wrap;

    @media (max-width: 480px) {
        position: relative;
        justify-content: center;
        margin: 0;
        gap: 0.5em;
    }
}
