<div class="button-wrapper">
    <div class="join-btn">Join to a class</div>
    <div class="join-btn" *ngIf="signedInUser.role === 'teacher'">Create new class</div>
</div>
<hr>
<div class="class-wrapper">
    <app-class-item *ngFor="let class of classList" [class]="class" (click)="navigateToClass(class)">

    </app-class-item>
        <!-- <div class="class-bg" [style.background]="class.imagePath">
            <img src={{class.imagePath}}>
        </div>
        <div class="class-name">{{class.title}}</div>
        <div class="class-owner">from {{class.owner}}</div>
        <div class="member-count"><i class="bi bi-people"></i><span>{{class.members}}</span></div> -->
</div>
